:root {
    /* Neutral Colors */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Reds */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradients */
    --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

    /* Typography */
    --font-body: "Noto Sans", sans-serif;
    --font-size-body: 16px;

    /* Layout */
    --container-mobile: 375px;
    --container-desktop: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    font-size: var(--body-size);
    background: var(--gradient-dark);
    color: var(--neutral-0);
    padding: 2rem;
}

.extension-page {
    max-width: 1440px;
    margin: auto;
}

.header-extensions {
    width: 100%;
}

.header-image-extensions {
    display: flex;
    background: var(--neutral-700);
    border-radius: 0.5rem;
    padding: 10px;
    margin-bottom: 3rem;
}

#logo-svg {
    max-width: 100%;
    height: auto;
}

#sun-icon {
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    flex-shrink: 0;
    background: var(--neutral-600);
}

.header-ext-btn {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    min-width: fit-content;
}

h1 {
    font-size: clamp(25px, 5vw, 48px);
    white-space: nowrap;
    flex-shrink: 0;
}

.filter-buttons {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filter-buttons button {
    padding: 0.5rem 1.2rem;
    background: var(--neutral-700);
    color: var(--neutral-200);
    border-radius: 5rem;
    border: 1px solid var(--neutral-600);
    cursor: pointer;
    flex-shrink: 0;
}

.filter-buttons button:hover,
button:focus {
    background-color: var(--red-500);
    outline: none;
    transform: scale(1.03);
    transition: 0.2s ease;
}

.switch input:focus+.slider-round {
    box-shadow: 0 0 0 2px var(--red-500);
}


.extension-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.extension-card {
    border: 1px solid var(--neutral-600);
    background-color: var(--neutral-800);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img-logo {
    max-width: 60px;
    height: auto;
    margin-right: auto;
}

.extension-text {
    transform: translateY(-60px);
    margin-left: 5rem;
    flex-grow: 1;
    min-width: 0;
}

h3 {
    font-size: clamp(16px, 4vw, 20px);
}

p {
    font-size: clamp(9px, 4vw, 16px);
    font-weight: 400;
    flex-grow: 1;
    color: var(--neutral-300);
    padding-top: 8px;
}

.remove-button {
    width: 100%;
    display: flex;
    margin-top: auto;
    align-items: center;
}

.remove-btn {
    border: 1px solid var(--neutral-600);
    color: var(--neutral-0);
    margin-right: auto !important;
    padding: 10px;
    background-color: var(--neutral-800);
    border-radius: 1rem;
}

.switch {
    position: relative;
    width: 40px;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-600);
    transition: .3s;
    border-radius: 1rem;
}

.slider-round:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .3s ease;
}

input:checked+.slider-round {
    background-color: var(--red-500);
}

input:checked+.slider-round:before {
    transform: translateX(20px);
}

button:hover,
button:focus {
    background-color: var(--neutral-600);
    border-color: var(--red-500);
    outline: none;
    transform: scale(1.03);
    transition: 0.2s ease;
}

.switch input:focus+.slider-round {
    box-shadow: 0 0 0 2px var(--red-500);
}



@media (max-width: 768px) {

    body {
        padding: 1rem;
    }

    .header-ext-btn {
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        padding-bottom: 1rem;
    }


    .filter-buttons {
        flex-wrap: nowrap;
        margin-left: 0;
    }

    .extension-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}